@(knolList: List[Knolder])(implicit flash:play.api.mvc.Flash)

@* DataView Template File *@
<!--Rendering Data from Postgresql  database on -->
@main("Home"){	
	<div class="container-fluid" data-ng-app="myapp" data-ng-controller="EmpController" data-ng-init="limitData=10">		
		<div class="row" style="background-color: white;">
         @flash.get("Success").map { message =>
           <div class="alert alert-dismissable alert-success">
               <button type="button" class="close" data-dismiss="close">×</button>
               <strong>Well done!</strong> @message
           </div>
       }
			<!-- Dynamic data from database -->         
		<b><h4>View Knolders</h4></b>
         <table class="table table-striped">
        	<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Remove</th>
        	@for(l <- knolList){
			<tr>
			    	<td>@l.id</td>
			    	<td><a href="@routes.Application.edit(l.id.get)">@l.name</td>
			    	<td>@l.email</td>
			    	<!-- Adding 'edit' Action on href-->
			    	<td>@l.mobile</a></td>
			    	<!-- Adding 'remove' Action on href-->
			    	<td style="vertical-align:top;text-align:"><a href="@routes.Application.deleteKnol(l.id.get)"><h4>X </h4></a></td>
			</tr>
			}
			</table>
         </div>
		     <!-- Employee data pagination -->
	</div>
}
