@* viewknolder Template File *@
@(title:String)
    <div class="row" style="padding: 1%; font: bold;">
            <div class="col-md-12">
                <table class="table table-striped table-hover" id="target">
                    <thead style="background-color:Gray;">
                        <tr>
                            <th>KnolID</th>
                              <th>Name</th>
                              <th>Email ID</th>
                              <th>Phone</th>
                          </tr>
                      </thead>
                </table>
            </div>
        </div>
